extends layout

block content
    section#content
      .ic
      .main
        .container
          h3 Antes debe logearse o registrarse
          p
          form(action="/users/login", method="post")
            p
              | Nombre de usuario: 
              input.form-control(type="text", name="username")
            p
              | Contraseña: 
              input.form-control(type="password", name="password")
            p
            input.btn.btn-primary(type="submit", value="Entrar")